.header {
  background-color: rgba(217, 217, 217, 1);
  padding: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: row;
  gap: 32px;
}

.li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navItem {
  text-decoration: none;
  color: #000;
}

.button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: #000 solid 2px;
  width: 138px;
  height: 40px;
}
